@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Mouse Memoirs', sans-serif;
}

@layer components {
.slider-thumb::-webkit-slider-thumb {
  @apply appearance-none w-3 h-3 rounded-full bg-teal-900 cursor-pointer;
}

.slider-thumb::-webkit-slider-thumb:hover {
  @apply bg-blue-700;
}

  .head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    @apply text-black;
    @apply capitalize;
  }
}

